// tbody {
//   .row {
//     display: flex;
//     flex-direction: column;
//     max-width: 500px;
//     max-height: 600px;
//     padding: 2px;
//     font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif;
//     font-size: 11px;
//     font-weight: 500;
//     background-color: rgb(41, 50, 60);
//     color: rgb(160, 167, 180);
//     z-index: 1000;
//     overflow-x: auto;
//     .row__name {
//     }
//     .row__value {
//     }
//   }
// }
.row {
  display: block;
}
table {
  grid-template-columns: auto auto;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
